:root {
  --table-head-color: #7da2ff;
  --box-shadow-color: #b2b1b1;
}

@font-face {
  font-family: nintendo;
  src: url("../fonts/RoSpritendoSemiboldBeta-vmVwZ.otf") format("opentype");
  font-display: fallback;
}

h1 {
  font-family: nintendo, Arial, Helvetica, sans-serif;
}

table {
  border-spacing: 0px;
  width: 95vw;
  border-bottom: 3px outset var(--table-head-color);
  box-shadow: -1px 1px 2px 2px var(--box-shadow-color);
  margin: auto;
  font-family: sans-serif;
}

th {
  background: linear-gradient(#c3d4ff, var(--table-head-color));
}

dialog {
  /* Makes popup in the center of the screen */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  background: linear-gradient(rgb(251, 241, 227), rgb(254, 248, 239));
  box-shadow: -1px 1px 2px 2px var(--box-shadow-color);
  transition: box-shadow 0.3s ease;
}

dialog:hover {
  box-shadow: 0px 0px 6px 3px var(--box-shadow-color);
}

td:hover {
  background-color:antiquewhite;
}

img[src="images/banner.webp"] {
  height: 15px;
}

main > button {
  margin-left: 2vw;
  width: 130px;
  height: 40px;
  font-size: 1.25em;
}

button {
  border: 1px solid black;
  border-radius: 6px;
  background: linear-gradient(to right, gray 50%, transparent 50%) right;
  background-size: 200% 100%;
  transition: background 0.1s ease;
  color: black;
}

button:hover {
  background-position: left;
  color: white;
}

header h1 {
  margin-left: 2vw;
  font-size: 2.5em;
}

dialog input, dialog textarea {
  margin-top: 10px;
  box-shadow: -1px 1px 2px 2px var(--box-shadow-color);
  transition: box-shadow 0.3s ease;
}

dialog input:hover, dialog textarea:hover {
  box-shadow: 0px 0px 6px 3px var(--box-shadow-color);
}

/* Makes the title column have a max width */
table tbody tr td:nth-child(1) {
  max-width: 28vw;
}

/* Makes the summary column have a max width */
table tbody tr td:nth-child(3) {
  max-width: 50vw;
}

th img {
  height: 25px;
}

dialog input {
  margin-bottom: 2vh;
}

th, td {
  border: 1px solid black;
  padding: 5px;
  word-wrap: break-word;
  text-align: center;
}

label, dialog input, dialog textarea {
  display: block;
}